# Python cache
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# Logs and caches
*.log
.cache/
huggingface/

# Streamlit secrets
.streamlit/secrets.toml

# large data files
*.parquet
*.xlsx